@Styles.Render("~/Content/Index.css")
<h1 class="Title">@ViewBag.Message</h1>
<br />
<br />

    <form method="GET" action="/Books/Index/">
        <div class="form-group">
            <label style="display:inline" for="sel">Sort by:</label>
            <select style="display:inline" class="form-control" id="sel" name="sort">
                <option>Price: Low to High</option>
                <option>Price: High to Low</option>
                <option>Rating: Low to High</option>
                <option>Rating: High to Low</option>
            </select>
            <button style="display:inline" class="btn btn-succes" type="submit"> Sort</button>

        </div>

    </form>




<div class="wrapper">
    @foreach (var book in ViewBag.Books)
    {

        <div class="panel panel-default ">
            <div class="bookInfo">
                <div class="panel-body ">
                    <a href="/Books/Show/@book.BookId"> <img class="card-img-top imgBook" src="/Content/UploadedImages/@book.ImageName" alt="Card image cap" width="240" height="300"></a>
                    <h3 class="book-title">@book.Title</h3>
                    <p> by <strong>@book.Author</strong></p>
                    <strong class="price">@book.Price RON</strong> <br />
                    <img class="stars" style="margin-left: 10px" src="/Content/UploadedImages/stars.png" alt="Number of stars: " width="80" height="40"><class ="avg" style="font-size:13px">  @book.avg</class>
                    <br />
                </div>
                <div class="panel-footer">
                    <a class=" btn btn-sm btn btn-success show" href="/Books/Show/@book.BookId/">Show book</a>
                </div>

                <br />
            </div>
        </div>


    }
</div>
<br />

<div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                @if (ViewBag.search != "")
                {<a href="/Books/Index?page=1&search=@ViewBag.SearchString" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                }
                else
                {
                    <a href="/Books/Index?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                }
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                if (ViewBag.search != "")
                {
                    <li><a href="/Books/Index?page=@i&search=@ViewBag.SearchString">@(i)</a></li>
                }
                else
                {
                    <li><a href="/Books/Index?page=@i">@(i)</a></li>
                }
            }
            <li>
                @if (ViewBag.search != "")
                {
                    <a href="/Books/Index?page=@(ViewBag.lastPage)&search=@ViewBag.SearchString" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
                else
                { <a href="/Books/Index?page=@(ViewBag.lastPage)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                }
            </li>
        </ul>
    </nav>
</div>
